.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.text {
  color: #000000;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  padding: 0;
  margin: 0px 100px 0px 0px;
  text-transform: uppercase;
}

@media (max-width: 565px) {
  .text {
    margin: 0px 0px 0px 0px;
  }
  .container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 565px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}
